<?xml version="1.0"?>
<!--
  ~ @copyright Copyright (c) 2021 mash2 GmbH & Co. KG. All rights reserved.
  ~ @license http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0).
  -->
<config>
    <modules>
        <Cobby_Connector>
            <version>2.4.3.0</version>
        </Cobby_Connector>
    </modules>
    <global>
        <blocks>
            <cobby_connector>
                <class>Cobby_Connector_Block</class>
            </cobby_connector>
        </blocks>
        <models>
            <cobby_connector>
                <class>Cobby_Connector_Model</class>
                <resourceModel>cobby_connector_resource</resourceModel>
            </cobby_connector>
            <cobby_connector_resource>
                <class>Cobby_Connector_Model_Resource</class>
                <entities>
                    <queue>
                        <table>cobby_connector_queue</table>
                    </queue>
                    <product>
                        <table>cobby_connector_product</table>
                    </product>
                </entities>
            </cobby_connector_resource>
        </models>
        <helpers>
            <cobby_connector>
                <class>Cobby_Connector_Helper</class>
            </cobby_connector>
        </helpers>
        <events>
            <cobby_clean_product_cache>
                <observers>
                    <phoenix_varnishcache>
                        <type>model</type>
                        <class>varnishcache/observer</class>
                        <method>purgeCatalogProduct</method>
                    </phoenix_varnishcache>
                </observers>
            </cobby_clean_product_cache>

            <cobby_clean_category_cache>
                <observers>
                    <phoenix_varnishcache>
                        <type>model</type>
                        <class>varnishcache/observer</class>
                        <method>purgeCatalogCategory</method>
                    </phoenix_varnishcache>
                </observers>
            </cobby_clean_category_cache>

        </events>

        <index>
            <indexer>
                <cobby_sync>
                    <model>cobby_connector/indexer_sync</model>
                </cobby_sync>
            </indexer>
        </index>
        <resources>
            <cobby_setup>
                <setup>
                    <module>Cobby_Connector</module>
                </setup>
            </cobby_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <api>
                <args>
                    <modules>
                        <Cobby_Connector before="Mage_Api">Cobby_Connector</Cobby_Connector>
                    </modules>
                </args>
            </api>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Cobby_Connector after="Mage_Adminhtml">Cobby_Connector</Cobby_Connector>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <cobby_connector>
                    <files>
                        <default>Cobby_Connector.csv</default>
                    </files>
                </cobby_connector>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <cobby>
            <settings>
                <active>1</active>
                <choose_user>0</choose_user>
                <license_key>cobby license key</license_key>
                <overwrite_images>0</overwrite_images>
                <new_api_user>cobby.api</new_api_user>
                <cobby_version>2.4.1.1</cobby_version>
                <product_category_position>1</product_category_position>
            </settings>
            <stock>
                <manage>0</manage>
                <quantity>0</quantity>
                <availability>1</availability>
            </stock>
        </cobby>
    </default>
</config>
